.container {
  height: 2560px;
  width: 1440px;
  padding: 1px;
  border: 1px;
  border-color: red;
}

.journey_btn {
  background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	/* font-size:36px; */
  font-size:3vw;
	padding:9px 23px;
}

.input_field {
  background-color:white;
  border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	color:black;
	font-family:Verdana;
  font-size:3vw;
	padding:9px 23px;
}

.timeline_out {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.spcr_div {
  height: .3em;
  width: 280px;
  background-color: darkgray;
}

.spcr_txt {
  height: .3em;
  width: 75px;
  background-color: white;
}

@media screen and (max-width: 1500px) {
  {
    .journey_btn {
      font-size:14vw;
      margin-right:1em;
    }
    .input_field {
      font-size:14vw;
      margin-right:1em;
    }
  }
}

.text {
  text-align:left;
  font-family:Verdana;
	font-size:15px;
  min-height:18px;
  padding:9px 23px 0px 23px;
}
