.journey_btn {
  background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	white-space: normal;
	color:#ffffff;
	font-family:Verdana;
  font-size:2vw;
  margin: 5px auto;
	padding:9px 23px;
}
.input_field {
  display:inline;
  background-color:white;
  border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	color:black;
	font-family:Verdana;
  font-size:2vw;
	padding:9px 23px;
}
.legTime {
  font-size: 1.5em;
  text-align: center;
  min-width:3em;
}
.timeline_out {
  display: flex;
  align-items: center;
  font-size:1em;
}
.dropButton {
  font-size:1em;
}
.spcr_div {
  height: .3em;
  width: 280px;
  background-color: darkgray;
}
.blankTime {
  color: white;
  font-size:1.5em;
  min-width:3em;
}
.spacer {
  color: white;
  min-width: 28px;
}
.route_div {
  width: 280px;
  font-size:1.5em;
  text-align: center;
}
.text {
  text-align:left;
  font-family:Verdana;
	font-size:15px;
  min-height:18px;
  padding:9px 23px 0px 23px;
}
@media screen and (max-width: 600px) {
  .journey_btn {
    font-size:2em;
    padding:20px;
  }
  .input_field {
    font-size:2em;
    padding:20px;
    width: 5em;
  }
  .text {
    font-size:2em;
  }
}